@using CMS_Project.Models;
@model  CMS_Project.Models.item_lang
      
@{

    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    var customField = ViewBag.customField;
    int index = -1;
}

<section class="corporate">

    <div class="main">
        <div class="container">
            
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <h1>@ViewBag.Title</h1>
                    <div class="content-page">
                        <div class="row">
                            <!-- BEGIN LEFT SIDEBAR -->
                            <div class="col-md-9 col-sm-9 blog-item">
                                <div class="blog-item-img">
                                    <!-- BEGIN CAROUSEL -->
                                    <div class="front-carousel">
                                        <div id="myCarousel" class="carousel slide">
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <img src="@Url.Content(Model.Image)" alt="@Model.alt" style="width:900px;height :300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Carousel nav -->
                                        <!-- END CAROUSEL -->
                                    </div>
                                </div>
                                <h2><a href="javascript:;"></a>@Model.Title</h2>


                                @Html.DisplayTextFor(modelItem => Model.Content)
                                @*<ul class="blog-info">
                <li><i class="fa fa-user"></i> By admin</li>

            </ul>*@
                                @if (customField != null)
                                {
                                    <table class="blog-info">
                                        @foreach (Custom cust in customField)
                                        {
                                            index++;
                                            <tr>
                                                <td style="font-weight: bold;">
                                                    @cust.Cust_Name :
                                                </td>
                                                <td style="padding:5px;">
                                                    @Model.FieldList[index].FieldVal
                                                </td>
                                            </tr>
                                        }
                                        <tr></tr>
                                    </table>
                                }
                                @if (Model.ItemCustomFieldList != null)
                                {
                                    index = -1;
                                    <table class="blog-info">
                                        @foreach (ItemCustomField cust in Model.ItemCustomFieldList)
                                        {
                                            <tr>
                                                <td style="font-weight: bold;">
                                                    @cust.FieldKey :
                                                </td>
                                                <td style="padding:5px;">
                                                    @cust.FieldValue
                                                </td>
                                            </tr>
                                        }
                                        <tr></tr>
                                    </table>
                                }

                            </div>
 
    
    
    
                            <!-- END LEFT SIDEBAR -->
                            
                        </div>
                        <!-- END RIGHT SIDEBAR -->
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
    


</section>
