@using CMS_Project.Models;
@{
    var db2 = new CMSDataContext();
    var db = new CMSDataContext();
    var Items = db.MenuItems.Where(x=>x.Visible==true).OrderBy(x=>x.Order).ToList();
    int langID=Convert.ToInt32(Session["LanguageId"]);
    var LangItem = db2.MenuItem_lang.Where(x => x.Lang_ID ==langID).ToList();
    //IList<MenuItem> Items=new List<MenuItem>();
    //if (db.MenuItems > 0 ) {
    //    Items = db.MenuItems.ToArray();
    //}
}

<script type="text/javascript">
    
    function AddToList(itmName, itmID,PerentID,isSubMenu,Type,linkedItm) {
        var ParentItm = document.getElementById("Parent_" + PerentID);
        
        if (!ParentItm) {
            var div = document.getElementById("itm_"+PerentID);
            if(isSubMenu==1){
                div.className+="dropdown-submenu";
                div.innerHTML+='<i class="fa fa-angle-right"></i>';
            }
            else
                div.className +='dropdown';
            div.innerHTML += '<ul class="dropdown-menu" id="Parent_' + PerentID + '"></ul>';
            ParentItm = document.getElementById("Parent_" + PerentID);
        }
        var link='@Url.Action("-1", "Home", new { id = -2 })';
        link=link.replace("-1",Type);
        link=link.replace("-2",linkedItm);
        ParentItm.innerHTML += '<li id="itm_'+itmID+'"><a href="'+link+'">'+itmName+'</a></li>';
    }
</script>

<div class="header-navigation pull-right font-transform-inherit" id="nav">
    <ul>
        @if (Items != null)
        {
            for (int i = 0; i < Items.Count(); i++)
            {
                int linkedItem = Items[i].CatId;
                var miLang = LangItem.SingleOrDefault(x=>x.Menuitem_ID==Items[i].ID);
                if (miLang == null)
                {
                    int id=Items[i].ID;
                    miLang = db.MenuItem_lang.Where(x => x.Lang_ID == 1 && x.Menuitem_ID ==id ).SingleOrDefault();
                }
                    //Items.SingleOrDefault(x => x.MenuItemLanguageList == 123);
                    //db.QuerySingle("SELECT * FROM PRODUCT WHERE Menuitem_ID = @0", Items[i].ID);
                    //db2.MenuItem_lang.Where(x => x.Menuitem_ID==Items[i].ID).SingleOrDefault();
                
                if (@Items[i].Type == @MenuItemType.ItemPerPage)
                {
                    linkedItem = Convert.ToInt32(Items[i].ItemId);
                }
                if (@miLang != null)
                { 
                    if (Items[i].Parent == null)
                    {
                        <li class="" id="itm_@Items[i].ID">
                            <a class="dropdown-toggle" href="@Url.Action(Items[i].Type.ToString(), "Home", new { id = linkedItem })">
                                @miLang.Name
                            </a>
                        </li>
                    }
                    else
                    {
                        int sub=0;
                        if (Items[i].Parent.Parent != null)
                        {
                            sub = 1;
                        }
                        <script type="text/javascript">AddToList("@miLang.Name",@Items[i].ID,@Items[i].Parent.ID,@sub,"@Items[i].Type",@linkedItem);</script>

                    }
                }
            }
        }
    </ul>
</div>
