@model CMS_Project.Models.item_lang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>item_lang</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lang.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lang.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.item.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.item.ID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
