@model CMS_Project.Models.item_lang

@{
    ViewBag.Title = "Edit Item Translate";
}


@using (Html.BeginForm("Edit", "item_lang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <div class="col-md-4">
            @Html.HiddenFor(model => model.item_ID)
            @{TempData["Data"] = ViewBag.CatID;}
            @{TempData["message"] = ViewBag.itemlang;}

            <div class="editor-field">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })

            </div>

            <br />

            <div class="editor-field">
                @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Content)
            </div>

            <br />

            <div class="form-control">
                <input type="file" name="ImageFile" id="ImageFile">
            </div>

            <br />

            <div class="form-group">
                <input class="form-control" placeholder="alt" id="alt" name="alt" type="text" autofocus>
            </div>

            <br />

            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", style = "height:150px" })
            <br />

            <p>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Save" />
            </p>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
