@model CMS_Project.Models.Language

@{
    ViewBag.Title = "Create Language";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="col-md-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Default)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Default)
                @Html.ValidationMessageFor(model => model.Default)
            </div>

            <p>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Create" />
            </p>
            </div>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
