@model CMS_Project.Models.Category_lang

@{
    ViewBag.Title = "Create Category";
}

<!--<h2>Create Category</h2>-->
@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="col-md-4">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Lang_ID, ViewBag.langlist as SelectList, "Select Language", new { @class = "form-control" })
            </div>

            <br/>

            <div class="form-group">
                <input class="form-control" placeholder="Name" id="Name" name="Name" type="text" autofocus>
            </div>


            <div class="editor-field">
                @Html.DropDownListFor(model => model.temp, ViewBag.parentlist as SelectList, "Select Parent", new { @class = "form-control" })
            </div>

            <br />

            <div class="form-control">
                <input type="file" name="ImageFile" id="ImageFile">
            </div>

            <br />

            <div class="form-group">
                <input class="form-control" placeholder="alt" id="alt" name="alt" type="text" autofocus>
            </div>

            <br />

            <textarea class="form-control"
                      cols="30"
                      placeholder="Description"
                      id="Description"
                      name="Description"
                      rows="5"></textarea>

            <br />

            <p>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Create" />
            </p>
        </div>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
