@model CMS_Project.Models.Category_lang

@{
    ViewBag.Title = "Translate Category";
}

@using (Html.BeginForm("Create", "Category_lang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <div class="col-md-4">
        @{TempData["Data"] = ViewBag.catlang;}
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Lang_ID, ViewBag.Lang_ID as SelectList, "Select Language", new { @class = "form-control" })
        </div>

        <br />

        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

        </div>

        <br/>

        <div class="form-control">
            <input type="file" name="ImageFile" id="ImageFile">
        </div>

        <br />

        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", style = "height:150px" })

        <br />

        @Html.HiddenFor(model => model.category_ID, new { @Value = ViewBag.CatID, name = "hiddenname" })

        <p>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Translate" />
        </p>
    </div>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
